# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.BL.PaymentGateway.iml
# Datasource local storage ignored files
/../../../../../../../:\Development\Web\BL.PaymentGateway\.idea\.idea.BL.PaymentGateway\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
